---
import BaseLayout from '../layouts/BaseLayout.astro';
import ServiceBlock from '../components/ServiceBlock.astro';
import VideoList from '../components/VideoList.jsx';
const pageTitle = "NOISE HEROES";

import { contentfulClient } from "../lib/contentful";
import type { Video } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";


const entries = await contentfulClient.getEntries<Video>({
  content_type: "video",
});

const home_entries = await contentfulClient.getEntries<Home>({
  content_type: "home",
});

const posts = entries.items.map((item) => {
  const { title, slug, video, videoPoster, description, inHome } = item.fields;
  return {
    title,
    slug,
    video,
    videoPoster,
    description : documentToHtmlString(description),
    inHome,
  };
});

const homes = home_entries.items.map((item) => {
  const { slug, onomatopeaIntro, openingText, valuesTitle, valuesText1,valuesText2, servicesTitle, services, workTitle} = item.fields;
  return {
    slug,
    onomatopeaIntro,
    openingText :documentToHtmlString(openingText),
    valuesTitle,
    valuesText1 : documentToHtmlString(valuesText1),
    valuesText2 : documentToHtmlString(valuesText2),
    servicesTitle,
    services,
    workTitle
  };
});


const home = homes[0];

const service1 = home.services.services.service1;
const service2 = home.services.services.service2;
const service3 = home.services.services.service3;

// console.log(posts[0].video.fields.file.url);
---
<BaseLayout {pageTitle}>

  <section id="block-1" class="intro">
    <div class="content md:w-2/3">
      <p id="ta-dah" class="ta-dah op uppercase">{home.onomatopeaIntro}</p>
      <div id="opening" class="text op rt-green" set:html={home.openingText}/>
    </div>
  </section>

    <section id="block-3" class="block">
      <div class="content grid gap-8 ">
          <div class="md:flex">
            <h2 class="op">{home.valuesTitle}</h2>       
            <div class="op pb-4 md:pb-0 md:w-2/3 rt-green" set:html={home.valuesText1} />           
          </div>
          <div class="op pb-4 md:pb-0 md:w-2/3 rt-green" set:html={home.valuesText2} />    
      </div>
    </section>

      <section id="block-4" class="block" >
        <div class="content grid gap-8">
          <div class="md:flex ">
            <h2 class="op">Services</h2>
            <ServiceBlock  service={service1}/>
          </div>
            <ServiceBlock service={service2}/>
            <div class="md:flex justify-end">
              
              <ServiceBlock service={service3}/>
            </div>
        </div>   
      </section>

  <section class="work h-auto block">
    <h2 class="op">{home.workTitle}</h2>
    <VideoList posts={posts} client:visible  />
  </section>

</BaseLayout>

<!-- <script >
  import "../scripts/services.js";
</script> -->


