---
import BaseLayout from '../layouts/BaseLayout.astro';
import ServiceBlock from '../components/ServiceBlock.astro';
import VideoList from '../components/VideoList.jsx';
const pageTitle = "NOISE HEROES";

import { Image } from 'astro:assets';
import { contentfulClient } from "../lib/contentful";
import type { Video } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import TADAH from "../img/onomatopee/TADAH.svg"
import SMACK from "../img/onomatopee/SMACK.svg"
import CLAPCLAP from "../img/onomatopee/CLAPCLAP.svg"
import BOOOOM from "../img/onomatopee/BOOOOM.svg"
import OHYEAH from "../img/onomatopee/OHYEAH.svg"


const entries = await contentfulClient.getEntries<Video>({
  content_type: "video",
});

const home_entries = await contentfulClient.getEntries<Home>({
  content_type: "home",
});

const posts = entries.items.map((item) => {
  const { title, slug, video, videoPoster, description, inHome } = item.fields;
  return {
    title,
    slug,
    video,
    videoPoster,
    description : documentToHtmlString(description),
    inHome,
  };
});

const homes = home_entries.items.map((item) => {
  const { slug, onomatopeaIntro, openingText, valuesTitle, valuesText1,valuesText2, servicesTitle, services, workTitle} = item.fields;
  return {
    slug,
    onomatopeaIntro,
    openingText :documentToHtmlString(openingText),
    valuesTitle,
    valuesText1 : documentToHtmlString(valuesText1),
    valuesText2 : documentToHtmlString(valuesText2),
    servicesTitle,
    services,
    workTitle
  };
});


const home = homes[0];

const service1 = home.services.services.service1;
const service2 = home.services.services.service2;
const service3 = home.services.services.service3;

// console.log(posts[0].video.fields.file.url);
---
<BaseLayout {pageTitle}>

  <div id="pre-video" class="relative">
    <div id="heroContainer" class="floater w-1/3 md:w-1/4 op absolute top-0 right-5 -translate-y-20 md:-translate-y-10" />



    <Image src={TADAH} alt="Onomatopea TADAH!" class:list={'onom-svg-no-margin  op'}/>
  <section id="block-1" class="intro">

    <div class="content md:w-2/3">
      <!-- <p id="ta-dah" class="ta-dah op ">{home.onomatopeaIntro}</p> -->
      <div id="opening" class="text op rt-green" set:html={home.openingText}/>
    </div>
  </section>

  <!-- <div class="onomat-wrapper inv-parallax ">
    <p class="onomatopea  op text-green right-20 top-0 z-40" >CLAP CLAP!</p> 
    <div id="heroContainer" data-speed="0.25" class="floater w-2/3 md:w-1/4 onomatopea op absolute -top-5 md:top-0 right-4 md:-translate-y-20" />
    <p data-speed="0.4" class="onomatopea p text-orange left-12 bottom-0" >BANG!</p>
  </div> -->
<Image src={CLAPCLAP} alt="Onomatopea CLAPCLAP!" class:list={'onom-svg op'}/>
  

  
  <section id="block-3" class="block">
      <div class="content grid gap-20 ">
          <div class="md:flex">
            <h2 class="op">{home.valuesTitle}</h2>       
            <div class="op pb-4 md:pb-0 md:w-2/3 rt-green" set:html={home.valuesText1} />           
          </div>
          <div class="op pb-4 md:pb-0 md:w-2/3 rt-green" set:html={home.valuesText2} />    
      </div>

    </section>

    <!-- <div class="onomat-wrapper inv-parallax  ">
      <p data-speed="0.6" class="onomatopea text-green left-24 md:left-36 top-0" >BOOOOOM!</p>
    </div> -->


<Image src={BOOOOM} alt="Onomatopea BOOOOM!" class:list={'onom-svg op'}/>

      <section id="block-4" class="block" >

        <div id="service-content" class="content grid gap-20">
          <div class="md:flex ">
            <h2 class="op">Services</h2>
            <ServiceBlock  service={service1}/>
          </div>
            <ServiceBlock service={service2}/>
            <div class="md:flex justify-end">
              
              <ServiceBlock service={service3}/>
            </div>
        </div>  
  
  </section>
  <!-- <div class="onomat-wrapper inv-parallax ">
    <p data-speed="0.2" class="onomatopea text-orange right-1/3 bottom-0" >SMACK!</p>

  </div>
</div> -->


<Image src={OHYEAH} alt="Onomatopea OHYEAH!" class:list={'onom-svg op'}/>
  </div>

  <section class="work h-auto block">
    <h2 class="op">{home.workTitle}</h2>
    <VideoList posts={posts} client:visible  />
  </section>

    
    <Image src={SMACK} alt="Onomatopea SMACK!" class='onom-svg-no-margin my-8 md:my-16 op'/>
  
  <!-- <div class="onomat-wrapper inv-parallax ">
    <p data-speed="0.5" class="onomatopea text-green left-12 md:left-48 top-0" >OOH!</p>
    <p data-speed="0.3" class="onomatopea text-orange right-20 bottom-0" >YEAH!</p>
  </div>
   -->


</BaseLayout>

