---
const service1 = {
  name: 'SOUND DESIGN & POST PRODUCTION',
  subServ : [
    {
    name: "Storytelling",
    desc: "Anyone can string sounds together; turning them into a story is a whole other ballgame. We're here to make sure your projects always sound like a happy ending"
    },
    {
    name: "TV-Digital-Radio-Podcast",
    desc: "Anyone can string sounds together; turning them into a story is a whole other ballgame. We're here to make sure your projects always sound like a happy ending"
    },
    {
    name: "Voice Talents",
    desc: "Anyone can string sounds together; turning them into a story is a whole other ballgame. We're here to make sure your projects always sound like a happy ending"
    },
  ] 
}
import BaseLayout from '../layouts/BaseLayout.astro';
import ServiceBlock from '../components/ServiceBlock.astro';
import VimeoGallery from '../components/VimeoGallery.astro';
const pageTitle = "NOISE HEROES";

const servizi = ["post produzione audio", "sound design", "consulenza e produzione","licensing"]

import { contentfulClient } from "../lib/contentful";
import type { Video } from "../lib/contentful";

const entries = await contentfulClient.getEntries<Video>({
  content_type: "video",
});

const posts = entries.items.map((item) => {
  const { title, slug, video, description } = item.fields;
  return {
    title,
    slug,
    video,
    description,
  };
});

console.log(posts[0].video);
---
<BaseLayout {pageTitle}>



  <section id="block-1" class="block intro">
    <div class="content md:w-2/3">

      <p class="ta-dah ">TA-DAH!</p>
      <p class="text split">
        Welcome to Noise Heroes! We’are a squad of heroes rocking a killer superpower: 
        <span >
        turning noises into sounds, and sounds into epic stories
        </span>. 
        We’are the go-to audio production crew with a backstory that’s out of this world. If you’ve got a sound problem nobody else can fix – and if you can track us down – 
        <span >
          *get ready for the game-changing intervention from the Noise Heroes.
        </span>
      </p>
      </div>
  </section>

  <section>
    {posts.map((post) => (
      <li>
        <a href={`/videos/${post.slug}/`}>
          <p>{post.title}</p>
          </a>
        </li>
    
    ))}
  </section>

      <!-- <div id="block-2" class="block h-auto">
        <div id="hero-heroes">
        </div>
      </div> -->

    <section id="block-3" class="block intro">
      <div  class="content md:flex ">
        <h2>How we roll</h2>

        <div class="md:w-2/3">
          <p class="op pb-4 md:pb-0 ">
            <span class="">
              Why Noise Heroes and not Noise Regular People? 
            </span>
            Because what we do isn’t just a job; it’s a calling. We’re not your average audio desk jockeys. We’re a crew of sound enthusiasts on a mission to turn noises into stories.
          </p>
          <p class="op pb-4 md:pb-0 pt-8">
            <span>
              Punctual: 
            </span>
            You've never seen a hero show up late /
            <span>
              Precise: 
            </span>
            Once we set a goal, we hit the bullseye on the first shot /
            <span>
              Tailor-Made:
            </span>
            Every challenge needs a fitting response /
            <span>
              Budget-Friendly:
            </span>
            Heroes don't pull heists... but we do save the day without breaking the bank
          </p>
       
        </div>
      </section>

      <section id="block-4" class="block op intro" >

        <div class="content md:flex ">
          <h2>Services</h2>

          <div class="md:w-2/3">
            <div class="service-wrapper">

              <ServiceBlock service={service1}/>
              <ServiceBlock service={service1}/>
              <ServiceBlock service={service1}/>
          
            </div>

          </div>
        </div>
      </section>

  <section class="work h-auto pt-10">

    <h2>Work</h2>

    <VimeoGallery />

  </section>

</BaseLayout>

<script>
  
</script>


