---

interface Props {
  title: string;
  vimeoUrl: number;
  description: string,
}

import Vimeo from './Vimeo.astro';

const {title, vimeoUrl, description} = Astro.props
const id = "video-"+title;

const videoSizes = ["md:w-1/2 md:ml-auto md:mr-20", "md:w-1/2 md:ml-auto md:ml-20", "md:w-2/3 md:ml-auto md:mr-0", "md:w-2/3 md:mr-auto md:ml-0", "md:w-1/3 md:ml-auto md:mr-0", "md:w-1/3 md:mr-auto md:ml-0"]

function getRandomWidth() {
  return videoSizes[Math.floor(Math.random() * videoSizes.length)];
}

---
<a href={`#${id}`} class="op">
<li id={id} data-open="false" class={`video-card relative transition-all duration-500 ease-in-out ${getRandomWidth()}`}>
     <Vimeo {vimeoUrl} {title}/>
     <div class="info-panel grid grid-rows-[0fr] transition-all duration-500 ease-in-out pt-5">
     <div class=" w-full flex space-x-5 overflow-hidden">
      <div class="title w-1/2 md:w-1/3">
        <p class="text-xl md:text-3xl uppercase">
          {title}
        </p>
      </div>
      <div class="credits w-1/2 md:w-1/3">
       <div class="pb-2">
        <p class="text-orange">Descrizione</p>
        <p>{description}</p>
       </div>
       
     </div>
      </div>
     </div>
</li>
</a>

<!-- <script >
  import "../scripts/vimeoCards.js";
</script> -->

<style>
.video-card {
  z-index:3;
}
.video-card::after {
  content:"";
  position:absolute;
  z-index:3;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
</style>